@media (min-width: 1024px) {
  .resultWrapper {
    // display: flex !important;
    // ?Enable These to view Regular Results
    padding: 2rem;
  }
  .container {
    display: grid;
    // grid-template-columns: 0.75fr 0.25fr;
    // ?Enable These to view Regular Results
  }
  .selection {
    grid-template-rows: 0.95fr auto !important;
    gap: 1rem !important;
    padding-top: 5rem;
  }
  .main {
    justify-items: center;
  }
  .subSelection {
    // ? 90% for Orignal
    // width: 90%;
    width: 60%;
  }
  .subRow {
    display: grid !important;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  .name {
    display: grid !important;
    grid-template-columns: auto 1fr;
    gap: 2rem;
  }

  .button {
    button {
      height: 4rem !important;
    }
  }
}

.resultWrapper {
  display: none;
}

.selection {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.85fr 0.15fr;
}

.container {
  height: 100vh;
  // padding: 1rem;
}

.main {
  display: grid;
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
}

.button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;

  button {
    height: 3rem;
    width: 10rem;
  }
}

.slot {
  padding: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-rows: auto 1fr;
  margin-block: auto;
  &Heading {
    font-size: 1.2rem;
  }
  &Content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.subSelection {
  // display: grid;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  // grid-template-rows: auto;
  gap: 1rem;
  justify-content: center;
  // align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.subRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  // outline: 2px solid hsl(0, 0%, 80%);
  // padding: 1rem;
  margin: 1rem;

  &Outer {
    // padding: 0 10px;
    display: flex;
    gap: 1rem;
    div {
      width: 100%;
    }
  }
}

.add {
  // height: fit-content;
  // display: grid;
  display: flex;
  gap: 1rem;
  // grid-template-columns: 1fr 1fr;
  // margin-top: auto;
  // justify-content: center;
  align-items: center;
  justify-content: center;
  // padding-inline: 1rem;
  padding: 1rem 0;

  .btn {
    border-radius: 50%;
    padding: 1rem;
    min-width: auto !important;
    // height: 32px;
    // width: 32px;
  }
}

.name {
  // width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--defaultFont) !important;

  font-weight: 700 !important;

  > :nth-child(2) {
    display: flex;
    flex: 1;
    gap: 1rem;
    margin-right: 1rem;
    // margin-right: 1rem;
    // padding: 0 1rem;
  }
}

.select,
.btn,
.text {
  font-family: var(--defaultFont) !important;
}
.text {
  font-weight: 700 !important;
  color: black;
}

.credits {
  color: #cdcdcd;
  margin-left: auto;
  margin-right: 1%;
}

// .fieldReset {
//   position: absolute;
//   top: 0;
//   left: 0;
//   .btn {
//     border-radius: 50%;
//     padding: 1rem;
//     min-width: auto !important;
//   }
// }

.component {
  display: grid;
}
